<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>    
    <h1>Login</h1>
    <form action="RedirectToExternalLogin" method="post">
        <p>Choose your provider</p>
        <p>
            <button type="submit">AuthTest</button>
        </p>
    </form>
    <form action="RedirectToGithub" method="post">
        <p>Choose your provider</p>
        <p>
            <button type="submit">Github</button>
        </p>
    </form>
</body>
</html>
