@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers" 
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logged</title>
</head>
<body>
    <p>User status: @User.Identity.IsAuthenticated</p>
    <a asp-controller="WebPortal" asp-action="Index">Go to Portal</a>
</body>
</html>
