<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Portal</title>
</head>
<body>
    Authentication... 
    <form method="get">
        <input name="username" placeholder="username" />
        <button type="submit">Login</button>
    </form>
</body>
</html>
